@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url("../imagens/cachorro.jpg");
    background-size: cover;
    overflow-y: hidden;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000;
    width: 100%;
    padding: 20px;
    margin: -10px;
}

.navbar a:hover {
    background-color: #000;
    opacity: 0.8;
    transition: 0.7s linear;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    float: right;
}

ul a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding-right: 80px;
    padding-top: 5px;
    font-size: 18px;
    
}

.container {
    background-color: #fff;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
    height: 500px;
    width: 500px;
    margin-left: 400px;
}

.container h1 {
    padding-bottom: 40px;
    padding-top: 20px;
}

.container a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.container a:hover {
    background-color: #fff;
    opacity: 0.6;
    transition: 0.7s linear;
}

.container p {
    margin-top: 2px;
}

input {
    border-radius: 5px;
}

input label {
    display: block;
}

input[type="email"], input[type="password"] {
    padding: 0.7em;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px;
    margin-top: 2px;
}

.botao {
    background-color: #000;
    color: #fff;
    border: 0;
    box-shadow: 2px 2px 2px;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.rodape { 
    text-align: right;
    color: #000;
    font-weight: bold;
    margin-top: 35px;
    margin-right: 5px;
    font-size: 12px;
    opacity: 0.8;
    display: block;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
